@font-face {
  font-family: 'Unilab';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/Unilab.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 1200px;
}

a {
  text-decoration: none;
}

.text_box {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  font-weight: bold;
  height: 100px;
}

.text_box .blink {
  animation: blink 0.5s infinite;
  font-size: 90px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* button */

.btn_about {
  position: relative;
  top: 380px;
  display: block;
  margin: auto;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-family: 'Indie Flower', cursive;
  background-color: #272626;
  color: #e3dede;
}

.btn_about:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  transition: transform .2s;
  cursor: pointer;
}

.btn_about:active {
  transform: scale(1.5);
}

/* 댓글 추가 삭제 기능 */
.comment {
  position: relative;
  top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment .title {
  font-size: 30px;
  margin-bottom: 20px;
}

.itemText {
  height: 30px;
  font-size: 20px;
  margin: 5px;

}

.itemDel {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: white;
  cursor: pointer;
  height: 30px;
}

.itemDel:hover {
  background-color: #272626;
  color: white;
  height: 30px;
  border-radius: 50%;
}

.input_itemAdd {
  margin-bottom: 30px;
  

}

.input {
  width: 230px;
  height: 30px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  outline: none;
  background-color: #e3dede;
  
}

.itemAdd {
  font-size: 20px;
  background-color: white;
  border: white;
  cursor: pointer;

}

.itemAdd:hover {
  border-radius: 50%;
  background-color: #e3dede;
  /* color: white; */
  height: 30px;
} 


@media screen and (max-width: 480px) {

  .text_box {
    margin-top: 30px;
    font-size: 40px;
    height: 60px;
  }

  .text_box .blink {
    font-size: 40px;
  }

  .btn_about {
    padding: 10px 30px;
    font-size: 16px;
  }

  .comment .title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .itemText {
    height: 20px;
    font-size: 15px;
    margin: 5px;
  }
  
  .itemDel {
    font-size: 15px;
    margin: 5px;
    margin-bottom: 5px;
    height: 20px;
  }
  
  .itemDel:hover {
    height: 20px;
  }
  
  .input_itemAdd {
    margin-bottom: 20px;
  }
  
  .input {
    width: 230px;
    height: 20px;
    font-size: 15px;
  }
  
  .itemAdd {
    font-size: 15px;
  }
  
  .itemAdd:hover {
    height: 20px;
  } 
  
  

  
}
