* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

hr {
  color: #777777;
  margin-top: 120px;
}

/* HEADER */

.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: aliceblue;
  height: 40px;
  font-size: 27px;
  z-index: 9;
}

.nav_bar .logo {
  position: relative;
  left: 10px;
}

.nav {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav li {
  padding: 10px 15px;
}

.nav li a {
  font-size: 20px;
}

.front {
  height: 500px;
  width: 100%;
  background-color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front .comment{
  font-size: 50px;
  color: aliceblue;
}

/* MAIN */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description h1 { 
  font-size: 40px;
  font-weight: 400;
  /* font-family: 'Indie Flower', cursive; */
  margin-bottom: 10px;
}

.description h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  /* font-family: 'Unilab';
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-style: wavy;
  text-decoration-thickness:1.5px; */
  letter-spacing: 2px;
  line-height: 30px;
}

.description #want h3 {
  font-size: 25px;
}


.description p {
  font-size: 17px;
  font-family: 'Unilab';
}

#about_me, #like, #want {
  margin: 30px;
  text-align: center;
  
  
}

/* ABOUT ME */
#about_me .gradu_img, #like .egypt_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#about_me .gradu_img img {
  width: 300px;
  height: 300px;
  
}

.fade-in {
  opacity: 0;
}

.mySwiper {
  width: 800px;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 800px;
  height: 400px;
  object-fit: cover;
}

/* LIKE */

#like h2 {
  font-family: 'Unilab';
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#like h3 {
  margin-bottom: 40px;
}



#like .egypt_img img {
  
  width: 300px;
  height: 300px;
}



/* want */

#want {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#want h1 {
  margin-bottom: 20px;
}
#want .want_img img {
  margin-bottom: 5px;
  width: 300px;
  height: 300px;
}

#want .want_img .want2 img {
  margin-top: 50px;
}

#want .want_img .want2 {
  margin-bottom: 70px;
}


/* FOOTER */
footer {
  height: 150px;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons i {
  font-size: 30px;
  margin: 5px 9px;
  color: #777777;
}


.icons a i:hover {
  transform: scale(1.4);
  transition: transform .3s;
}

footer p {
  font-size: 25px;
  color: #777777;
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  .nav_bar {
    display: none;
  }

  .front {
    height: 400px;
  }
  
  .front .comment{
    font-size: 20px;
    color: aliceblue;
  }
  
  /* MAIN */
  .description h1 { 
    font-size: 30px;
  }
  
  .description h3 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  .description #want h3 {
    font-size: 25px;
  }
  
  .description p {
    font-size: 12px;
  }

  /* ABOUT */
  #about_me .gradu_img, #like .egypt_img {
    display: flex;
    flex-direction: column;
  }
  
  #about_me .gradu_img img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }

  /* LIKE */
  #like h2 {
    font-size: 15px;
  }
  
  #like h3 {
    font-size: 11px;
    margin-bottom: 40px;
  }

  /* WANT */
  #want .want_img h3 {
    font-size: 14px;
  }

  /* FOOTER */
  footer {
    height: 100px;
  }
  
  .icons i {
    font-size: 20px;
    margin: 5px 5px;
  }
  
  footer p {
    font-size: 15px;
  }
  

}








